body{
    margin:0;
}
header img{
    height: 100px;
}
nav a{
    text-decoration: none;
    color:rgb(54, 53, 61);
    font-size: 16px;
    padding: 10px 25px;
    font-family: Audiowide;
    &:hover{
        color:cornflowerblue;
    }
}
.banner{
    color:rgb(46, 46, 48);
}
header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 0px 5px;
    background-color:rgb(221, 241, 255);
}
nav{
    padding: 10px;
}
nav a:hover{
    color:rgb(83, 90, 110);
    transition: 1s;
}